.wrapper {
    min-width: 100%;
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 100px;
    border-radius: 8px;
    background: var(--white);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
